body {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

* {
    box-sizing: border-box;
}

li {
    border: solid black 2px;
    list-style: none;
    width: 100px;
    text-align: center;
}

img {
    width: 100%;
}